* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#root {
  height: 900px;
  width: 100vw;
  background-color: #23252c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #1a1b21;
  width: 317px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.about,
.interest {
  width: 247px;
}
.footer {
  background-color: #161619;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 45px;
  font-size: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail h1 {
  font-size: 25px;
  color: white;
  margin: 16px 0px 0px 0px;
}
.detail p {
  font-size: 12px;
  color: #f3bf99;
  margin: 16px 0px 16px 0px;
}
.detail a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  margin: 0px 0px 16px 0px;
}
.detail img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 317px;
  height: 400px;
}
.detail button {
  width: 115px;
  height: 34px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.detail button svg {
  margin-right: 4px;
}
.about h3,
.interest h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}
.about p,
.interest p {
  font-size: 12px;
  color: white;
  line-height: 150%;
  text-align: left;
}
@media (max-width: 480px) {
  #root {
    height: auto;
    min-height: 100vh;
    padding: 0;
  }
  .container {
    width: 100vw;
    min-width: 0;
    max-width: 100vw;
    height: auto;
    padding: 0;
    border-radius: 10px;
  }
  .detail img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    min-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  .about,
  .interest {
    width: 94vw;
    max-width: 94vw;
  }
  .detail button {
    width: 98vw;
    max-width: 230px;
    min-width: 120px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .footer {
    font-size: 12px;
    height: auto;
    min-height: 45px;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    word-break: break-word;
    text-align: center;
  }
  .detail h1 {
    font-size: 20px;
  }
  .about h3,
  .interest h3 {
    font-size: 14px;
  }
  .about p,
  .interest p,
  .detail p,
  .detail a {
    font-size: 12px;
  }
}
